@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


:root {

  --primary-color: #ffffff;
  --secondary-color: black;
  --default-blue: #007aed;
  --bg-primary: #ffffff;
  --bg-secondary: #ffffff;
  --text-primary: #000000;
  --text-secondary: #007aed;
  --border-primary: #e5e7eb;
  --border-secondary: #f3f4f6;
  --just-loading: just-loading;

  /*------- color ----- */
  --bg-hover: #f3f4f6;
  --gray_50: #f9fafa;
  --gray_100: #f3f4f6;
  --gray_200: #e5e7eb;
  --gray_300: #d1d5db;
  --gray_400: #9ca3af;
  --gray_500: #6b7280;
  --gray_600: #4b5563;
  --gray_700: #374151;
  --red_500: #ec3b3b;
  --red_600: #dc2626;
  --red_700: #b91c1c;
  --box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.055) 0px 0px 0px 1px;
}

[data-theme='dark'] {
  --primary-color: #15181c;
  --secondary-color: #ffffff;
  --bg-primary: #15181c;
  --bg-secondary: #383838;
  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --bg-hover: #3838383b;
  --border-primary: #38383863;
  --border-secondary: #38383863;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

textarea {
  resize: none;
  border: none;
}

a {
  color: #007aed;
  text-decoration: none;
}


.main_layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-primary);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
}

.center {
  width: 650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid var(--border-primary);
  background-color: var(--bg-primary);
}


.pcr {
  color: var(--default-blue);
  font-size: 10px;
  position: absolute;
  font-weight: 700;
  border-radius: 3px;
  padding: 2px;
  top: 4px;
  right: 3px;
  border: 1px solid var(--default-blue);
}

.post_failed_fetch {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no_comments {
  padding-top: 10px;
  font-size: 17px;
  color: var(--gray_400);
  text-align: center;
}

.img_border_radius {
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(248, 245, 245);
}

::-webkit-scrollbar-thumb {
  background-color: #007ce834;
  border-radius: 10px;
}



@keyframes just-loading {
  0% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(360deg);
  }
}