.container {
    width: 100%;
    height: 53px;
    background-color: var(--bg-primary);
    position: fixed;
    top: 0;
    z-index: 5;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.guide {
    display: none;
}

.lt {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;

}

.title {
    display: flex;
    font-size: 20px;
    color: var(--default-blue);
    font-family: "";
    margin-bottom: 2px;
}

.logo_img {
    border: 50%;
}

.search_input {
    width: 31rem;
    position: relative;
    height: 2.4rem;
    display: flex;
    border-radius: .50rem;
    border: 1px solid rgba(177, 177, 177, 0.397);
    background-color: var(--bg-primary);
}

.input {
    flex-grow: 1;
    padding: 0 1rem;
    border: none;
    outline: none;
    font-size: .950rem;
    border-radius: .5rem;
    color: var(--text-primary);
    background-color: var(--bg-primary);
}

.input_ref {
    display: none;
}

.input:not(:invalid)~.result {
    display: block;
}

.search_icon {
    width: 2rem;
    display: flex;
    align-items: center;
}

.icon {
    position: relative;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.result {
    position: absolute;
    top: 2.650rem;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
    border-radius: .5rem;
    z-index: 1;
    color: var(--text-primary);
}


.result_item {
    display: flex;
    flex-direction: row;
    padding: .120rem .5rem;
    border: 1px solid var(--border-primary);
}

.result_item:hover,
.item_focuse {
    background-color: var(--bg-hover);
    cursor: pointer;
}

.result_item_right {
    padding: 5px;
}

.img {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}

.result_item_left {
    display: flex;
    align-items: center;
}

.text {
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    margin-left: .5rem;
}

.verified_icon {
    font-size: 19px;
    color: var(--default-blue);
    margin-left: .5rem;
}

.icon::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border: 2px solid var(--default-blue);
    border-radius: 50%;
    transform: translate(-6px, -4px) rotate(315deg);
}

.icon::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 11px;
    background-color: var(--default-blue);
    transform: translate(6px, 5px) rotate(315deg);
}

.n_p {
    position: relative;
    display: flex;
    padding: 0 1rem;
    column-gap: 33px;
}

.theme_btn {
    display: flex;
    align-items: center;
    position: relative;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 20px;
    width: 37px;
    transform: scale(1.5);
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 16px;
    width: 17px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox {
    display: none;

}

.checkbox:checked+.label .ball {
    transform: translateX(19px);
}

.icon_sun {
    font-size: 15px;
    color: yellow;
    position: absolute;
    left: 3px;
}

.icon_moon {
    width: 14px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 5px 2px 0 0 #fff77e;
    position: absolute;
    top: 0px;
    right: 7px;
    transform: translateX(0px);
}

.profile {
    border: none;
    background-color: var(--theme_color);
    cursor: pointer;
    width: 2.3rem;
    height: 2.3rem;
    position: relative;
}

.image {
    border-radius: 50%;
    object-fit: cover;
}

.profile_div {
    position: absolute;
    width: 200px;
    background-color: rgb(250, 250, 250);
    top: 3.5rem;
    right: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 5px;
}

.profile_div::after {
    content: "";
    border: 9px solid transparent;
    border-bottom: var(--gray_500) solid 10px;
}

.p_group {
    padding: 5px;
    border-bottom: 1px solid red;


}

.p_text {

    font-family: 'Inconsolata', monospace;
    color: var(--gray_600);
}

.logout {
    font-size: 14px;
    border: none;
    color: red;
}

@keyframes just-loading {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }


}

@media (max-width:768px) {
    .search_input {
        width: 20rem;
        height: 2.3rem;
    }

    .input {
        font-size: 13px;
        padding: 0 6px;
    }

    .title {
        display: none;
    }

    .profile {
        width: 30px;
        height: 30px;
    }



}


@media (max-width:700px) {

    .guide {
        display: block;
        padding-top: 6px;
        cursor: pointer;
    }

    .icon_guide {
        opacity: .7;
        font-size: 30px;
        color: var(--text-primary);
    }

    .theme_btn {
        display: none;
    }


    .img {
        width: 2rem;
        height: 2rem;
    }

    .text {
        font-size: 13px;
        margin-left: 5px;
    }

    .verified_icon {
        font-size: 16px;
        margin-left: 5px;
    }
}

@media (max-width:480px) {
    .search_input {
        width: 16rem;
    }


    .icoin_guide {
        opacity: 1;
    }

    .logo {
        display: none;
    }



}