.container {

    width: 100%;
    background-color: var(--default_theme);
    position: fixed;
    top: 0;
    z-index: 5;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

.content {

    padding: .2px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}



.search_input {

    width: 31rem;
    position: relative;
    height: 2.4rem;
    display: flex;
    border-radius: .5rem;
    border: 1px solid rgba(177, 177, 177, 0.397);
    background-color: var(--default_theme);

}

.input {

    flex-grow: 1;
    padding: 0 1rem;
    border: none;
    outline: none;
    font-size: .950rem;
    border-radius: .5rem;

}

.input_ref {
    display: none;
}

.input:not(:invalid)~.result {
    display: block;
}

.result {

    position: absolute;
    top: 2.650rem;
    left: 0;
    width: 100%;
    background-color: var(--default_theme);
    border-radius: .5rem;

    border: 1px solid rgba(177, 177, 177, 0.397);
    z-index: 1;


}


.result_item {

    display: flex;
    flex-direction: row;
    padding: .120rem .5rem;
    border: 1px solid var(--gray_100);
}

.result_item:hover {
    background-color: #f3f4f6;
    cursor: pointer;
}


.result_item_right {
    width: 3.250rem;
    padding: 5px;

}

.img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.result_item_left {
    display: flex;
    align-items: center;

}



.text {

    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    margin-left: .5rem;

}

.verified_icon {
    font-size: 19px;
    color: var(--default_blue);
    margin-left: .5rem;
}


.search_icon {
    width: 2rem;
    display: flex;
    align-items: center;
}

.icon {

    position: relative;
    width: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.icon::after {

    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border: 2px solid var(--default_blue);
    border-radius: 50%;
    transform: translate(-6px, -4px) rotate(315deg);
}

.icon::before {

    position: absolute;
    content: "";
    width: 3px;
    height: 11px;
    background-color: var(--default_blue);
    transform: translate(6px, 5px) rotate(315deg);
}

.n_p {
    position: relative;
    display: flex;
    padding: 0 1rem;
}

.notification {

    position: relative;
    background-color: var(--default_theme);
    border: none;
    cursor: pointer;
}



.notification_cound {

    position: absolute;
    top: 3px;
    right: 0;
    width: 1rem;
    font-size: .9rem;
    color: #ffffff;
    background-color: #c00;
    border-radius: 50%;

}

.profile_btn {
    padding: 5px;
    border: none;
    background-color: var(--default_theme);
    cursor: pointer;
}

.profile {
    position: relative;
}



.image {

    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    border: 1px solid rgb(115, 115, 250);
}

.title {
    font-size:2.1rem;
    color: var(--default_blue);
    font-family: '';
}

.profile_div {
    position: absolute;
    width: 200px;

    background-color: rgb(250, 250, 250);
    top: 3.5rem;
    right: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 5px;

}

/* .profile_div::after {
    content: "";
    border: 9px solid transparent;
    border-bottom: var(--gray_500) solid 10px;
} */

.p_group {
    padding: 5px;
    border-bottom: 1px solid red;


}

.p_text {

    font-family: 'Inconsolata', monospace;
    color: var(--gray_600);
}

.logout {
    font-size: 14px;
    border: none;
    color: red;
}

@keyframes just-loading {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:700px) {}