.bg_img {

    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: scroll;
    justify-content: center;
    background-image: url("../public/lsbackground.jpg");
    padding-top: 5.5rem;
    background-color: none;
}


.body {
    width: 30rem;
    display: flex;
    padding: 1.5rem 4rem;
    border-radius: .5rem;
    flex-direction: column;
    border: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--box-sahow);
    margin-bottom: auto;
}

.l_body {
    width: 30rem;
    height: auto;
    display: flex;
    padding: 1rem 3rem;
    border-radius: .5rem;
    justify-content: center;
    flex-direction: column;
    border: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--border-primary);
    box-shadow: var(--box-shadow);
}

.l_body[loading="true"] {
    opacity: 0.8;
    cursor: not-allowed;
}

.title {

    width: 100%;
    text-align: center;
    padding-bottom: 1.2rem;
    font-weight: 700;
    font-style: italic;
}

.title_text {
    font-size: 2rem;
    color: #000000;
}


.form:invalid .button {
    opacity: 0.6;
    cursor: not-allowed;
}

.group {
    position: relative;
    margin-bottom: 1.150rem;
}

.input {
    width: 100%;
    height: 2.6rem;
    font-size: .960rem;
    border-radius: .5rem;
    padding-left: .650rem;
    outline: none;
    background-color: none;
    border: 1px solid rgba(177, 177, 177, 0.973);
}


.label {
    position: absolute;
    top: .9rem;
    left: .4rem;
    font-size: .820rem;
    background-color: #ffffff;
    font-family: "Convergence", sans-serif;
    cursor: text;
    transition: all 0.2s ease-in-out,
}

.input:not(:placeholder-shown).input:not(:focus)~.label,
.input:focus~.label,
.label[clicked="true"] {
    top: -0.550rem;
    font-size: .780rem;
}

.input:invalid[focus="true"]~.invalid {
    display: block;
}

.password:valid,
.border_green {
    border-color: rgb(17, 255, 17);
}

.border_red,
.input:invalid[focus="true"] {
    border-color: #ff0000;
}

.message {
    font-size: 0.9rem;
    padding-left: 6px;
    padding-top: 2px;
    transition: all 42s ease-in-out;
}

.red {
    color: #ff0000;
}

.invalid {
    display: none;
    color: #ff0000;
    font-size: 0.9rem;
    padding-left: 6px;
    padding-top: 2px;
    transition: all 42s ease-in-out;
}

.l_error_message {
    font-size: .8em;
}

.bottom {
    padding: 0 0.7rem;
}

.button {
    position: relative;
    width: 100%;
    height: 2.650rem;
    border-radius: .5rem;
    background-color: var(--default-blue);
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgba(177, 177, 177, 0.397);
    transition: box-shadow 0.25s ease-in-out;
    border-radius: 1rem;
}


.btn_loading .button_text {
    display: none;
}

.btn_loading .button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border: 4px solid transparent;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: var(--just-loading) .4s linear infinite;
}

.button_text {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 550;
}

.au {
    width: 100%;
    margin-top: .9rem;

}

.au_bd {
    position: relative;
    border-top: 1px solid rgba(177, 177, 177, 0.973);
}

.or_d {
    padding-left: 0.6rem;
    position: absolute;
    top: -.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 0.6rem 0 0.6rem;
    background-color: #ffffff;
    text-align: center;
}

.or_text {
    font-size: 1rem;
    font-family: "Convergence", sans-serif;
    color: rgba(121, 113, 113, 0.986);
}

.au_group {
    margin-top: 1.5rem;
}

.google_button {
    width: 100%;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgba(177, 177, 177, 0.459);
    transition: box-shadow 0.25s ease-in-out;
    border-radius: .5rem;
}

.google_button:hover,
.button:hover {
    box-shadow: rgba(59, 120, 212, 0.596) 0px 2px 8px 0px;
}

.google_button_icon {
    background-color: #ffffff;
}

.google_button_text {
    font-size: 0.860rem;
    color: #7a8086;
    font-family: "Convergence", sans-serif;
}

.body_bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: .980rem;
    padding: 1.5rem 0 1.5rem 0;
}

.form:invalid {
    opacity: 0.8;
    cursor: not-allowed;
}

@media (max-width:481px) {
    
    .bg_img {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .body {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        align-items: stretch;
    }
}