.container {
    width: 100%;
    border: 1px solid var(--border-secondary);
    display: flex;
    padding: 1.1rem 0 .5rem 0;
    color: var(--text-primary);

}

.left {
    padding: 0rem 0rem 0rem .5rem;
}

.right {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0rem 1rem;
}

.header {
    display: flex;
    padding: 5px 0 5px 0px;
    border-radius: 5px;
}

.header_left {
    flex-grow: 1;
}

.info {
    display: flex;
}

.profile {
    width: 46px;
    height: 46px;
    position: relative;
}

.group {
    display: flex;
}

.group_right {
    margin-left: .3rem;

}

.name {

    font-size: 15px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
    cursor: pointer;
    color: var(--text-primary);
}

.date {
    font-size: 14px;
    font-family: '';
}

.verified {
    position: relative;
    color: var(--default-blue);
    font-size: 19px;

}

.header_right {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    border-radius: 50%;

}

.menu {
    position: relative;

}

.menu_icon {
    width: 3px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 3px 0;
    border-radius: 50%;
}



.message {
    font-size: 15px;
    word-break: break-all;
    line-height: 1.3rem; 
}

.text {
    color: var(--text-primary);
}

.image,
.video {
    margin-top: .5rem;
    width: 100%;
    border-radius: 5px;
}

.footer {
    width: 100%;
    padding-right: 8rem;
    border-radius: 5px;
    margin-top: .4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.c_footer {
    width: 100%;
    border-radius: 5px;
    margin-top: .4rem;
    display: flex;
    align-items: center;
}

.footer_group {
    background-color: none;
    border: none;
}

.c_footer_group {
    background-color: none;
    border: none;
    margin-right: 1rem;
    color: var(--secondary-color);
}

.button {
    background-color: var(--bg-primary);
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    gap: 5px;
    color: var(--secondary-color);
}

.icons {
    font-size: 18px;

}

.c_icons {
    font-size: 16px;
    color: rgb(53, 48, 48);
    color: var(--secondary-color);

}

.icons:active {
    color: rgb(44, 205, 216);
    transform: scale(0.9);
}

.comments {
    width: 100%;
    padding-left: 2rem;
}

.replies {
    width: 100%;
}

.show_replies {
    margin-top: 3px;
}

.show_replies_text {
    font-size: 13px;
    color: rgb(48, 124, 211);
    cursor: pointer;
}

.copied_pop {
    position: absolute;
    bottom: 25px;
    position: absolute;
    left: 50%;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    border-radius: 5px;


}

.copied_text {

    font-size: 13px;
}