.container {
    width: 100%;
    color: var(--text-primary);
}

.cover_photo {
    height: 200px;
}

.info {

    position: relative;
    display: flex;
}

.cover_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profile {

    position: absolute;
    top: -4.2rem;
    left: 1rem;
    border-radius: 50%;
    width: 7rem;
    height: 7.5rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.profile_img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.info_right {

    width: 100%;
    padding-left: 10rem;
    padding: .9rem 1rem 1rem 10rem;
}

.info_nf {

    display: flex;
    justify-content: space-between;
}

.nf_l {

    display: flex;
    gap: .6rem;
    align-items: center;
}


.edit {

    padding-right: 10px;
    position: relative;
}

.edit_icon {

    font-size: 1.2rem;
    color: #007ce8;
    cursor: pointer;
}

.edit_icon_m {

    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
    font-family: "Merriweather", serif;
    background-color: var(--gray_500);
    color: #ffffff;
    transition: .3s ease;
}

.edit_icon:hover~.edit_icon_m {

    visibility: visible;
    opacity: 1;
}

.edit_icon_m::before {

    content: "";
    position: absolute;
    right: 100%;
    border: 9px solid transparent;
    border-right: var(--gray_500) solid 10px;
}

.fw_c {

    display: flex;
    gap: 1rem;
    padding-top: .450rem;
}

.fw_count {
    font-size: .950rem;

}

.fw {

    cursor: pointer;
    font-size: .9rem;
    border-bottom: 1px solid var(--border-secondary);
}


.btn {
    width: 6rem;
    height: 2rem;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
}


.follow {
    border: none;
    background-color: var(--default-blue);
    color: #ffffff;
}

.following {
    border: 1px solid black;
    background-color: #ffffff;
    color: #000000;
}


.bio {

    padding-right: 1rem;
    padding-top: .7rem;
}

.bio_text {

    font-size: .90rem;
    line-height: 1.350rem;
}

.link {
    font-size: .96rem;
}

.bottom {

    display: flex;
    padding-top: .7rem;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--border-primary);
}

.bv_group {
    padding: .9rem 3rem;
    cursor: pointer;
}

.bv_group:nth-child(1) {
    border-bottom: 2px solid var(--default-blue);

}

.bvn {
    font-size: .970rem;
}



@media (max-width:768px) {
    .cover_photo {
        height: 150px;
    }

}