.right {
    flex: 1;
    align-self: start;
    height: 100%;
    flex-basis: 0;
    overflow: auto;

}

.container {

    max-width: 23rem;
    padding: 1rem 1rem;


}

.trading {

    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.top {
    padding: 1rem 1rem .5rem;
}

.tg_bottom {
    max-height: 20.5rem;
    overflow: scroll;

}

.tg_bottom::-webkit-scrollbar {
    display: none;
}

.tagge {
    padding: .7rem 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.tagge:hover {
    background-color: var(--bg-hover);
}

.taggeLeft {
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.tagge_name {
    font-size: 15px;
}


.tcond {
    font-size: .7rem;
    font-family: sans-serif;
}

.taggeRight {
    position: relative;
    gap: 3px;
    flex-shrink: 0;
}


.menu_icon {

    width: 3px;
    height: 3px;
    background-color: rgba(48, 46, 46, 0.884);
    margin: 3px 0;
    border-radius: 50%;
}

.menu {
    position: absolute;
    right: 0;
    top: 0;

    background-color: var(--gray_100);

}




@media only screen and (max-width: 1000px) {
    .right {
        display: none;
    }

}