.container {
    
    width: 100%;
    background-color: var(--default_color);
    position: fixed;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content {

    padding: .2px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.title {

    font-size: 2.2rem;
    color: var(--d_blue);
    font-family: '';
    cursor: pointer;
}

.search_input {

    width: 31rem;
    position: relative;
    height: 2.650rem;
    display: flex;
    border-radius: .5rem;
    border: 1px solid rgba(177, 177, 177, 0.397);
    background-color:var(--default_color);   
    
}

.input {

    flex-grow: 1;
    padding: 0 1rem;
    border: none;
    outline: none;
    font-size: .950rem;
    border-radius: .5rem;

}


.input:not(:invalid) ~ .result {
    display: block;
}

.result,
.input:not(:focus) ~ .result {
    display: none;
    position: absolute;
    top: 2.650rem;
    left: 0;
    width: 100%;
    background-color: var(--default_color);
    border-radius: .5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgba(177, 177, 177, 0.397);
    z-index: 1;

}



.result_item{

    display: flex;
    flex-direction: row;
    padding: .120rem .5rem;
    cursor: pointer;
    border: 1px solid var(--gray_100);
}
.result_item:hover{
    background-color:var(--gray_100);
}

.result_item_right{
    width: 3.250rem;    
    padding: 5px;
        
}

.img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.result_item_left{
    display: flex;
    align-items: center;

}

.text{

    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    margin-left: .5rem;

}

.verified_icon{
    font-size: 19px;
    color: var(--d_blue);
    margin-left: .5rem;
}



.icon {

    position: relative;
    width: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.icon::after {

    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border: 2px solid var(--d_blue);
    border-radius: 50%;
    transform: translate(-6px, -4px) rotate(315deg);
}

.icon::before {

    position: absolute;
    content: "";
    width: 3px;
    height: 12px;
    background-color: var(--d_blue);
    transform: translate(6px, 5px) rotate(315deg);
}

.n_p {

    display: flex;
    padding:0 1rem;
}

.notification{

    position: relative;
    background-color: var(--default_color);
    border: none;
    cursor: pointer;
}



.notification_cound{

    position: absolute;
    top: 3px;
    right: 0;
    width: 1rem;
    font-size: .9rem;
    color: #ffffff;
    background-color:#c00 ;
    border-radius: 50%;
   
}

.profile{

    padding: .5rem;
    border: none;
    background-color: var(--d_white);
    cursor: pointer;
}

.image{

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--d_white);
    border: 1px solid rgb(115, 115, 250);
}

.title {

    font-size: 2.2rem;
    color: var(--d_blue);
    font-family: '';
}

