
.left_bar{
    flex: 1 ;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}


.container{
    
   padding: 1rem 3rem;
}

.nav{
    
    gap: 2rem;
    border-radius: 5px;
    background-color: var(--gray_50);
    box-shadow: var(--default_shadow);
}

.a{
    color:#171c21;
}

.group{

    display: flex;
    align-items: center;
    padding: 1rem 3rem 1rem .5rem;
    column-gap: .6rem;
}

.group:hover{

    background-color: var(--gray_100);
    border-radius: 5px;
}

.icon{
    font-size:1.5rem;
}

.text{

    font-size: 1.150rem;
    font-weight: 400;

}


.suggestion{
  
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: var(--default_shadow);
    background-color: var(--gray_50);
  
}

.sug_top{
    padding: 1rem 1rem .5rem ;
}  
.sug_bottom{

   max-height: 14rem;
   overflow: scroll;
}
.sug_bottom::-webkit-scrollbar {
    display: none;
}

.sug_text{

    font-size: 1rem;
    font-weight: 400;
    color: var(--gray_700);
}

.user{

    display: flex;
    padding-top: 6px;
    align-items: center;
    
}

.profile{

    width: 3rem;
    height: 3rem;
    padding: 5px 6px;
}

.img{

    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.un{

    flex-grow: 1;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.verified{

    font-size: 1.2rem;
    color: var(--default_blue);
}

.btn{
    
    width: 3.5rem;
    height: 1.6rem;
    border-radius: 10px;
    font-size: 12px;
    color: var(--default_blue);
    cursor: pointer;
    margin-right: 3px;
    border: 1px solid var(--default_blue);
}

.btn:hover{

    background-color: var(--default_blue);
    color:  #ffffff;
}
